@media only screen and (max-width: 1450px) {
    .intro .name {
        font-size: 2.4em;
    }

    .intro .position {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 1180px) {
    .intro .name {
        font-size: 1.8em;
    }
}

@media only screen and (max-width: 920px) {
    .intro .name {
        font-size: 1.4em;
    }
}