main {
  height: 100%;
  position: relative;
}

section {
  font-family: Lato, sans-serif;
  position: relative;
  padding: 120px 15%;

  .title {
    color: $primary-color;
    font-family: Bjorn, sans-serif;
    letter-spacing: .3em;
    line-height: .8em;
    position: relative;
    z-index: 9;
  }

  .sub-title {
    color: $secondary-text-color;
    font-weight: 200;
    letter-spacing: .3em;
    line-height: 1.5em;
    margin-bottom: 70px;
    max-width: 600px;
    position: relative;
    z-index: 9;
  }
}