/** Background noise. Toit */
.noice {
    background-image: url(../img/noice.gif);
    background-size: 214px;
    filter: contrast(200%) brightness(46%);
    height: 100%;
    opacity: .2;
    position: fixed;
    width: 100%;
    z-index: 101;
}

.ready .noice {
    z-index: 0;
}