#pre-loader {
    background-color: $body-bg;
    height: 100%;
    opacity: 1;
    position: fixed;
    transition: opacity .3s linear, visibility .3s;
    visibility: visible;
    width: 100%;
    z-index: 100;

    svg {
        display: inline-block;
        fill: none;
        height: 100%;
        left: 50%;
        max-width: 25%;
        position: absolute;
        stroke: $primary-text-color;
        stroke-width: 10;
        transform: translateX(-50%);
        vertical-align: middle;

        &.diamond {
            stroke-dasharray: 4685.7734375;
            stroke-dashoffset: 4685.7734375;
        }

        &.j {
            stroke-dasharray: 2610.09033203125;
            stroke-dashoffset: 2610.09033203125;
        }

        polygon {
            transition: 1s;
        }
    }
}

.ready {
    #pre-loader {
        opacity: 0;
        visibility: hidden;
    }
}