$primary-color: #00dbdb;

$body-bg: #000;

$primary-text-color: #fff;
$secondary-text-color: #696969;
$error-color: #ff2424;

$cursor-border: #fff;
$cursor-bg: #fff;

$form-border: #3c3c3d;

$footer-bg: #000;